
.rating{
    background-color: white;
}
.mapChild{
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgb(185, 185, 185);
}
.mapName{
    font-family: sans-serif;
    font-size: 17px;
   
}