
.MapCard{
    background: #e4e4e4;
    border-radius: 5px;
    width: 120px;
    box-shadow: 0.1px 0.1px 6px #aca8a8;
}
.MapCard>img{
    border-radius: 5px;
    width: 100%;
}
.MapCard>div>p{
    font-size: medium;
    margin: 0px;
    font-weight: 600;
    font-family: math;
}